<% provide(:title, "Dashboard") %>

<%
  overdue_chores ||= nil # no default, just for formatting
  due_soon_chores ||= nil
  full_row_size = overdue_chores.present? && due_soon_chores.present? ? "half" : "full"
  nothing_to_do = !(overdue_chores.present? || due_soon_chores.present?)
%>

<div class="flex" style="padding-top: 16px;">
  <% if overdue_chores.present? %>
    <div class="full <%= full_row_size %>-800">
      <h3>Overdue</h3>
      <div class="to-right dashboard-line">&nbsp;</div>
      <%= render("chores/listing", chores: overdue_chores) %>
      <%= more_link(chores_path, "Chores") %>
      <br />
    </div>
  <% end %>

  <% if due_soon_chores.present? %>
    <div class="full <%= full_row_size %>-800">
      <h3>Due Soon</h3>
      <div class="to-left dashboard-line">&nbsp;</div>
      <%= render("chores/listing", chores: due_soon_chores) %>
      <%= more_link(chores_path, "Chores") %>
      <br />
    </div>
  <% end %>

  <% if nothing_to_do %>
    <div class="full">
      <h3>🎉 You're all done 🎉</h3>
      <%= more_link(chores_path, "Chores") %>
    </div>
  <% end %>
</div>
