<% return "" unless @category.present? %>

<%= form_for(@category, url: { action: "create" }) do |f| %>
  <div class="form-group">
    <%= label(:category, :name) %>
    <%= f.text_field(:name, class: "form-control") %>
  </div>
  <div class="form-group">
    <%= label(:category, :color) %>
    <%= f.color_field(:color, class: "form-control", value: "\##{@category&.color}") %>
  </div>
<% end %>
<br />
