<% return "No user found" if @user.nil? %>

<% provide(:title, @user.name) %>

<div class="row chore-padding-8">
  <div class="col text-left">
    <%= link_to(safe_join([fa_icon("arrow-circle-left"), " All Users"]), users_path) %>
  </div>
  <div class="col text-right"> </div>
</div>

<div class="row chore-padding-8 chore-border-light">
  <div class="col-12 col-sm-6">
    Performed <%= @user.chores_total %> lifetime chores
  </div>
  <div class="col-12 col-sm-6 text-right">
    Joined <%= @user.created_at %>
  </div>
</div>

<div class="row"><div class="col">&nbsp;</div></div>


<div class="col-12 chore-padding-8">
  <h5>Assigned Chores</h5>
</div>
<div class="row chore-padding-8">
  <div class="col-7"><strong>Chore</strong></div>
  <div class="col-5"><strong>Next Due</strong></div>
</div>
<% @user.assignments.each do |a| %>
  <% c = a.chore&.decorate || next %>
  <div class="row chore-padding-8">
    <div class="col-7"><%= link_to(c.description, chore_path(c)) %></div>
    <% next_due    = c.perform_next_summary || "Error"
       next_due[0] = next_due[0].capitalize %>
    <div class="col-5"><%= next_due %></div>
  </div>
<% end %>

<div class="row"><div class="col">&nbsp;</div></div>

<div class="col-12 chore-padding-8 chore-border-light">
  <h5>Recent Performances</h5>
</div>
<div class="row chore-padding-8">
  <div class="col-7"><strong>Chore</strong></div>
  <div class="col-5"><strong>Performed</strong></div>
</div>
<% @logs.each do |log| %>
  <% c = log.chore || next %>
  <div class="row chore-padding-8">
    <div class="col-7 chore-border-ultralight"><%= link_to(c.description, chore_path(c)) %></div>
    <div class="col-5 chore-border-ultralight"><%= log.performed_at %></div>
  </div>
<% end %>
<div class="row"><div class="col">&nbsp;</div></div>
