<% provide(:title, "Forgot your password") %>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
<div class="flex">
  <div class="full">
    <%= render("devise/shared/error_messages", resource: resource) %>
  </div>
  <div class="full chore-padding-8">
    <%= f.label :email %><br />
    <%= f.email_field(:email, autofocus: true, autocomplete: "email", class: "form-control form-control-lg") %>
  </div>
  <div class="full chore-padding-8">
    <%= f.submit("Reset", class: "button") %>
  </div>
</div>
<% end %>
<div class="full chore-padding-8 text-center">
  <%= render("devise/shared/links") %>
</div>