<% return nil unless action.present? && model.present?  %>
<%
  form        ||= render(partial: "form")
  form_action ||= "#{action}_#{model}_submit();"
  submit_icon ||= fa_icon("plus")
  combo = "#{action}#{model.capitalize}"
%>

<!-- <%= action %> <%= model %> Modal -->
<div class="modal fade" id="<%= combo %>Modal" tabindex="-1" role="dialog"
     aria-labelledby="<%= combo %>ModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="<%= combo %>Modal"><%= action.capitalize %> a <%= model.capitalize %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form %>
      </div>
      <div class="modal-footer">
        <div class="container">
          <div class="row">
            <div class="col-6">
              <button type="button" value="<%= action.capitalize %>"
                      class="btn btn-primary" onclick="<%= form_action %>">
                <%= submit_icon %> Save</button>
            </div>
            <div class="col-6 text-right">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>