<% return unless @chore.present? %>
<% given_action ||= "create" %>
<%= form_for @chore, url: { action: given_action } do |f| %>
  <div class="row">
    <div class="col-12 chore-padding-8">
      <%= label(:chore, :description) %><br />
      <%= f.text_field(:description, class: "form-control") %>
    </div>
    <div class="col-8 chore-padding-8">
      <%= label(:chore, :frequency) %>
      <%= f.text_field(:frequency, class: "form-control") %>
    </div>
    <div class="col-4 chore-padding-8" style="margin-top: 40px;">
      <%= f.select(:frequency_type, Chore.frequency_types,
                   class: "form-control", selected: Chore.frequency_types[@chore.frequency_type]) %>
    </div>
    <% if @categories&.size&.positive? %>
      <div class="col-12 chore-padding-8">
        <%= label(:chore, :category) %><br />
        <%= category_select(@categories) %>
      </div>
    <% end %>
  </div>
<% end %>