<%
  users          ||= nil
  chore_assigned ||= false
  chore_id       ||= nil
%>

<% return "" if users.blank? %>

<div class="full chore-padding-8 chore-border-light">
  <h5>
    Perform Chore
    <span class="tooltip-right" data-tooltip="Who performed this chore? Assigned user is highlighted">
      <i class="fa fa-info-circle" style="font-size: 12px;"></i>
    </span>
  </h5>
</div>
<div class="full"></div>
<% users.each do |user| %>
  <div class="full half-600 fourth-800 text-center chore-padding-8" style="position: relative;">
    <% btn_cls = chore_assigned == user.id ? "btn-success" : "btn-outline-success" %>
    <% unless chore_assigned %>
      <div style="position: absolute; right: 8px;">
        <%= link_to(assign_chore_path(chore_id, user_id: user.id)) do %>
          <button type="submit" class="btn btn-outline-success tooltip-right" title="Assign chore to <%= user.name %>">
            <%= fa_icon("address-book", "fas") %>
          </button>
        <% end %>
      </div>
    <% end %>
    <%= link_to(perform_now_chore_path(chore_id, user_id: user.id)) do %>
      <button type="submit" class="button <%= btn_cls %> full_btn" title="Perform this chore as <%= user.name %>">
        <%= fa_icon("user") %> <%= user.name %>
      </button>
    <% end %>
  </div>
<% end %>