<h1>Chores</h1>
<br />

<p><%= link_to(safe_join([content_tag(:i, "", class: "fa fa-plus-circle"), " Create new"]), new_chore_path) %></p>

<% if @chores.present? && @chores.size.positive? %>
  <table class="table table-hover thead-light">
    <thead class="thead-light" >
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Frequency</th>
      <th scope="col">&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <% @chores.each do |chore| %>
      <tr>
        <td><%= link_to(chore.description, chore_path(chore)) %></td>
        <td><%= link_to([chore.frequency, chore.frequency_type].join(" "), chore_path(chore)) %></td>
        <td><button type="button" class="btn delete-button" data-toggle="modal" data-target="#removeConfirmModal"
                    onclick="adjust_delete_path('<%= chore_path(chore) %>', '<%= chore.description %>')">
          <i class="fa fa-trash"></i>
        </button>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

<!-- Remove Confirm Modal -->
<div class="modal fade" id="removeConfirmModal" tabindex="-1" role="dialog"
     aria-labelledby="removeConfirmModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="removeConfirmModalLabel">Are you sure?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to remove the chore<span id="chore-name" class="font-italic"></span>?
      </div>
      <div class="modal-footer">
        <button type="button" value="Delete" class="btn btn-danger" onclick="$.ajax()">
          <i class="fa fa-trash"></i> Remove
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>