<h1>Chores</h1>

<button type="button" class="btn create-button" data-toggle="modal" data-target="#createChoreModal">
  <i class="fa fa-plus-circle"></i> Create
</button>

<% if @chores.present? && @chores.size.positive? %>
  <table class="table">
    <thead class="" >
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Frequency</th>
      <th scope="col">&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <% @chores.each do |chore| %>
      <tr>
        <td><%= link_to(chore.description, chore_path(chore)) %></td>
        <td><%= link_to([chore.frequency, chore.frequency_type].join(" "), chore_path(chore)) %></td>
        <td><button type="button" class="btn delete-button" data-toggle="modal" data-target="#removeConfirmModal"
                    onclick="adjust_delete_path('<%= chore_path(chore) %>', '<%= chore.description %>')">
          <i class="fa fa-trash"></i>
        </button>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

<%= render("create_modal") %>
<%= render("remove_confirm_modal") %>