<% provide(:title, "Chores") %>

<% unless @chore&.valid? %>
  <%= render("shared/error_messages", model: @chore) %>
<% end %>

<div class="flex row-padded">
  <div class="half">
    <label for="create-chore-modal" class="button">
      <%= fa_icon("plus-circle") %> Create
    </label>
  </div>
  <div class="half text-right">
    <div class="">
      <button class="button" id="sortMenuButton">
        <%= chore_sort_icon(@order) %> <%= chore_sort_by_name(@sort) %>
      </button>
    </div>
  </div>
</div>

<%= render("chores/listing", chores: @chores) %>

<%= render("shared/generic_modal", action: "create", model: "chore") %>
<%= render("shared/remove_confirm_modal", model: "chore") %>