<% provide(:title, @chore&.description || "Chore") %>

<div class="flex text-left">
  <div class="half text-left">
    <%= link_to(safe_join([fa_icon("arrow-circle-left"), " All Chores"]), chores_url) %>
  </div>
  <div class="half text-right">
    <%= category_badge(@chore) %>
  </div>
</div>
<div class="flex"><div class="full">&nbsp;</div></div>
<div class="flex chore-padding-16">
  <div class="full third-800 chore-padding-8 chore-border-light"><h5>Last Done</h5></div>
  <div class="full two-third-800 chore-padding-8 chore-performed-text chore-border-light">
    <%= @chore.last_performed_long %>
  </div>
</div>
<div class="flex chore-padding-16">
  <div class="full third-800 chore-padding-8 chore-border-ultralight"><h5>Due By</h5></div>
  <div class="full two-third-800 chore-padding-8 chore-performed-text chore-border-ultralight">
    <%= @chore.perform_next %> (<%= @chore.perform_next_summary %>)
  </div>
</div>
<div class="flex chore-padding-16">
  <%= render(partial: "user_actions",
             locals: { users: @users, chore_assigned: @chore.assignments.first&.user_id, chore_id: @chore.id }) %>
</div>
<div class="flex chore-padding-16">
  <div class="full chore-padding-8 chore-border-light">
    <h5>
      History
      <span class="tooltip-right" data-tooltip="The last five times this chore was performed">
        <i class="fa fa-info-circle" style="font-size: 12px;"></i>
      </span>
    </h5>
  </div>
  <div class="flex chore-padding-8" style="font-style: italic; font-size: 13px;"></div>
  <%= history_columns(@logs) %>
</div>
<div class="flex chore-padding-16">
  <div class="half text-center">
    <label for="edit-chore-modal" class="button" data-disable="true">
      <%= fa_icon("edit", "fas") %> Edit
    </label>
  </div>
  <div class="half text-center">
    <label for="remove-confirm-modal" class="button" data-disable="true"
           onclick="adjust_chore_delete_path('<%= chore_path(@chore) %>', '<%= @chore.description %>');">
      <%= fa_icon("trash") %> Remove
    </label>
  </div>
</div>

<%= render("shared/remove_confirm_modal", model: "chore") %>
<%= chore_edit_modal %>

<script>
  document.addEventListener("turbolinks:load", function() {
    adjust_delete_path('<%= chore_path(@chore) %>', '<%= @chore.description %>');
  });
</script>