<div><%= link_to(safe_join([content_tag(:i, "", class: "fas fa-arrow-circle-left"), " Back"]), chores_url) %></div>
<% if @chore.present? %>
  <h1><%= @chore.description %></h1>
  <div class="container text-center">
    <% if @chore.last_performed.present? %>
      <div>Last done on <%= @chore.last_performed.strftime("%A, %B %e %Y") %></div>
    <% end %>
    <div class="chore-note">Due by <%= @chore.perform_next.strftime("%A, %B %e %Y") %> (<%= text_until_next_due(@chore) %>)</div>
  </div>
  <button type="button" class="btn btn-success"
          onclick="perform_chore_now('<%= perform_now_chore_path(@chore.id) %>');">Perform Now</button>
  <br />
  <% if @logs.present? %>
    <br /><br />
    <table class="table">
      <thead class="" >
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Done By</th>
      </tr>
      </thead>
      <tbody>
      <% @logs.each do |log| %>
        <tr>
          <td><%= log.performed_at.strftime("%a, %B %e %Y, %l %P") %></td>
          <td><%= log.user_id %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>