<% provide(:title, @chore&.description || "Chore") %>

<div class="row text-left">
  <div class="col text-left">
    <%= link_to(safe_join([fa_icon("arrow-circle-left"), " All Chores"]), chores_url) %>
  </div>
  <div class="col text-right">
    <%= category_badge(@chore) %>
  </div>
</div>
<div class="row"><div class="col">&nbsp;</div></div>
<div class="row chore-padding-16">
  <div class="col-12 col-md-4 chore-padding-8 chore-border-light"><h5>Last Done</h5></div>
  <div class="col-12 col-md-8 chore-padding-8 chore-performed-text chore-border-light">
    <%= last_performed_text(@chore) %>
  </div>
</div>
<div class="row chore-padding-16">
  <div class="col-12 col-md-4 chore-padding-8 chore-border-ultralight"><h5>Due By</h5></div>
  <div class="col-12 col-md-8 chore-padding-8 chore-performed-text chore-border-ultralight">
    <%= @chore.perform_next.strftime("%A, %B %e %Y") %> (<%= text_until_next_due(@chore) %>)
  </div>
</div>
<div class="row chore-padding-16">
  <%= render(partial: "user_actions",
             locals: { users: @users, chore_assigned: @chore.assignments.first&.user_id, chore_id: @chore.id }) %>
</div>
<div class="row chore-padding-16">
  <div class="col-12 chore-padding-8 chore-border-light">
    <h5>
      History
      <i class="fa fa-info-circle" style="font-size: 12px;" data-toggle="tooltip" data-placement="right"
         title="The last five times this chore was performed"></i>
    </h5>
  </div>
  <div class="col-12 chore-padding-8" style="font-style: italic; font-size: 13px;"></div>
  <%= history_columns(@logs) %>
</div>
<div class="row chore-padding-16">
  <div class="col-6 text-center">
    <button class="btn btn-outline-primary" data-toggle="modal" data-target="#editChoreModal">
      <%= fa_icon("edit", "fas") %> Edit
    </button>
  </div>
  <div class="col-6 text-center">
    <button class="btn btn-outline-danger" data-toggle="modal" data-target="#removeConfirmModal">
      <%= fa_icon("trash") %> Remove
    </button>
  </div>
</div>

<%= render("remove_confirm_modal") %>
<%= chore_edit_modal %>

<script>
  document.addEventListener("turbolinks:load", function() {
    adjust_delete_path('<%= chore_path(@chore) %>', '<%= @chore.description %>');
  });
</script>