<div><%= link_to(safe_join([content_tag(:i, "", class: "fas fa-arrow-circle-left"), " Back"]), chores_url) %></div>
<% if @chore.present? %>
  <h1><%= @chore.description %></h1>
  <div class="container text-center">
    <% if @chore.last_performed.present? %>
      <div>Last done: <%= @chore.last_performed %></div>
    <% end %>
    <div class="chore-note">Due by <%= @chore.perform_next.strftime("%A, %B %e %Y") %> (<%= distance_of_time_in_words(Time.now, @chore.perform_next) %>)</div>
  </div>
<% end %>