<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-light">
    <%= link_to(safe_join([fa_icon("clipboard-list", "fas"), " Chore Schedule"]),
                root_url, class: "navbar-brand") %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li ckass="nav-spacer">&nbsp;&nbsp;&nbsp;</li>
        <li class="nav-item">
          <%= link_to("Chores", chores_path, class: "nav-link") %>
        </li>
        <li class="nav-item">
          <%= link_to("Categories", category_index_path, class: "nav-link") %>
        </li>
      </ul>
      <div class="navbar-user">
        <% if account_signed_in? %>
          <%= link_to(safe_join([fa_icon("door-open", "fas"),"  Sign Out"]),
                      destroy_account_session_path, method: :delete) %>
        <% else %>
          <%= link_to(safe_join([fa_icon("user"), "  Log in"]),
                      new_account_session_path) %>
        <% end %>
      </div>
    </div>
  </nav>
</header>