<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
    <%= link_to(safe_join([fa_icon("clipboard-list", "fas"), " Chore Plan for Us"]),
                root_url, class: "navbar-brand", 'aria-label': "Go home") %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li ckass="nav-spacer">&nbsp;&nbsp;&nbsp;</li>
        <% if account_signed_in? %>
          <li class="nav-item">
            <%= link_to("Chores", chores_path, class: "nav-link") %>
          </li>
          <li class="nav-item">
            <%= link_to("Categories", category_index_path, class: "nav-link") %>
          </li>
        <% end %>
      </ul>
      <div class="navbar-user">
        <ul class="navbar-nav mr-auto">
        <% if account_signed_in? %>
          <li class="nav-item"><%= user_display %></li>
          <li class="nav-item"><%= family_display %></li>
          <li class="nav-item">
            <%= link_to(safe_join([fa_icon("door-open", "fas"),"  Sign Out"]),
                                  destroy_account_session_path, method: :delete, 'aria-label': "Sign out") %>
          </li>
        <% else %>
          <li class="nav-item"><%= link_to(safe_join([fa_icon("user"), "  Log in"]),
                                             new_account_session_path, 'aria-label': "Log in") %></li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>