<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="manifest" href="/manifest.json">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#68829E" />
    <meta name="Description" content="Chore Plan For Us">

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload", defer: "defer" %>
    <!--[if lt IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
        </script>
    <![endif]-->

    <%= favicon_link_tag asset_path('favicon.png') %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container-fluid body-container">
      <% flash.each do |message_type, message| %>
        <% message_type = "danger"  if message_type == "error" || message_type == "alert" %>
        <% message_type = "primary" if message_type == "notice" %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type} alert-padding") %>
      <% end %>
    </div>
    <div class="main-body">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
    <div class="debug-dump">
      <%= debug(params) if Rails.env.development? %>
    </div>

    <script type="text/javascript">
      if (navigator.serviceWorker) {
        navigator.serviceWorker.register('/service-worker.js', { scope: '/' })
          .then(function(reg) {
            console.log('[Companion]', 'Service worker registered!');
            console.log(reg);
          });
      }
    </script>
  </body>
</html>
